body{
    background-color: #f7fff7;
    text-align: center;
    color: #4ecdc4;
    font-family: 'Padauk', sans-serif;
}

p {
    line-height: normal;
    margin: 0px;
}

h1,h2 {
    color: #1a535c ;
}


.navbar li{
    list-style-type: square;
    display: inline;
     
}

.navbar a{
    text-decoration-line: none;
    color: #ffe66d ;
    font-weight: bold;
}

.navbar a:hover{
    background-color: #4ecdc4 ;
}